@import '../../../style/colors.scss';

.basket-product {
  font-size: 12px;
  padding: 35px 0px;
  border-bottom: 2px solid $red;
  .basket-product-name {
    float: left;
    width: 50%;
    font-weight: bold;
    font-size: 13px;
    color: $black;
  }
  .basket-product-quantity {
    float: left;
    width: 35%;
    text-align: right;
    font-weight: bolder;
    font-size: 13px;
    color: $black;
  }
  .basket-ingridient-wrapper {
    display: block;
    text-align: left;
    width: 60%;
    margin: 0;
    padding-left: 15px;
  }
  .remove-button {
    float: right;
    height: 18px;
    color: $black;
    transform: scale(1, 1);
    transition: 0.3s;
    &:hover {
      color: $red;
      transform: scale(1.4, 1.4);
    }
  }
}
