@import '../../../style/_colors.scss';

.product-card {
  -webkit-user-select: none;
  margin: 0px 40px 30px;
  width: 300px;
  min-height: 400px;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  &:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }
  .product-header {
    background: $yellow;
    padding-bottom: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 4px solid $red;
  }

  .product-market,
  .product-image,
  .product-price,
  .product-name {
    display: block;
    margin: auto;
    padding: 5px;
  }
  .product-image {
    width: 230px;
    height: 230px;
    border: 8px solid $red;
    border-radius: 200px;
    background: $white;
  }
  .product-name {
    margin: 5px 0px;
    font-size: 1.3rem;
    text-align: center;
    color: $black;
    height: 40px;
  }
  .product-description {
    margin: auto;
    width: 80%;
    height: 30px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    border-top: 2px solid $yellow-blind;
    border-bottom: 2px solid $yellow-blind;
    border-radius: 2px;
    color: $black;
  }
  .product-price {
    text-align: center;
    font-size: 1.5rem;
    color: $red;
  }
}
