@import '../../style/_colors.scss';

.add-in-basket {
  margin: auto;
  text-align: center;
  .product-quantity-label {
    display: block;
  }
  .product-quantity {
    display: inline-block;
    width: 40px;
    font-size: 1.5rem;
  }
  .btn-increase,
  .btn-decrease {
    display: inline-block;
    color: $black;
    .fa-plus-circle,
    .fa-minus-circle {
      transition: 0.4s;
      &:hover {
        transform: scale(1.4, 1.4) rotate(180deg);
        color: $red;
      }
    }
  }
  .btn-in-basket {
    font-family: 'Comfortaa', cursive;
    display: block;
    margin: auto;
    width: 150px;
    color: $black;
    font-size: 1.3rem;
    background: $yellow;
    border: 2px solid $yellow;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    &:hover {
      box-shadow: 1px 1px $red, 2px 2px $red, 3px 3px $red, 4px 4px $red,
        5px 5px $red;
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  }
}
