@import './_colors.scss';

body {
  margin: 0;
  padding: 0;
  background: $white;
}

.container {
  font-family: 'Comfortaa', cursive;
  display: grid;
  grid-template-columns: 25% auto;
}

.content {
  grid-column-start: 2;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  position: fixed;
  width: 25%;
  padding-top: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, $yellow, $yellow-blind);
  border-radius: 10px;
}
