@import '../../style/_colors.scss';

.menu-list {
  padding: 0px;
  margin: 0px auto;
  -webkit-user-select: none;
  border-top-right-radius: 20px;
  .menu-item {
    background: $yellow;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    color: $black;
    // transform: scale(1, 1);
    // transition: 0.15s ease;
    // animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
    &.active {
      background: $yellow;
      border-bottom: 2px solid $yellow-blind;
      transform: scale(1.03, 1.03);
    }
    // &:not(:hover) {
    //   // border-right: 10px solid $red;
    //   // -webkit-transform: translateX(-5px);
    //   // transform: translateX(-5px);
    //   animation: shadow-pop-br 0.3s reverse both;
    // }
    &:first-child {
      border-top-right-radius: 20px;
    }
  }

  .shadow-pop-br {
    &:hover {
      animation: shadow-pop-br 0.3s both;
    }
  }

  @keyframes shadow-pop-br {
    0% {
      box-shadow: 0 0 $red, 0 0 $red, 0 0 $red, 0 0 $red, 0 0 $red, 0 0 $red, 0 0 $red, 0 0 $red;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px $red, 2px 2px $red, 3px 3px $red, 4px 4px $red, 5px 5px $red, 6px 6px $red, 7px 7px $red, 8px 8px $red;
      transform: translateX(-8px) translateY(-8px);
    }
  }
  
}
